<h1>Edit <%=@figure.name%></h1>
<form action="/figures/<%=@figure.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <br/>

  <label>Title: </label><input type="text" name="title[name]">

  <br/>

  <%Title.all.each do |t|%>
    <input id="title_<%=t.id%>" type="checkbox" name="figure[title_ids][]" value="<%=t.id%>" <%='checked' if @figure.title_ids.include?(t.id) %>><%=t.name%></input>
  <%end%>

  <br/>

  <label>Landmark: </label><input type="text" name="landmark[name]">

  <br/>

  <%Landmark.all.each do |l|%>
    <input id="landmark_<%=l.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" <%='checked' if @figure.landmark_ids.include?(l.id) %>><%=l.name%></input>
  <%end%>

  <br>

  <input type="submit" value="Save Figure">

</form>
